<h1>Edit <%= @tadpole.name %></h1>

<%= form_for(@tadpole) do |f| %>
<ol>
		Name: <%= f.text_field :name %>
		Water Type: <%= f.text_field :color %>
</ol>
	<%= f.submit 'update' %>
	</div>
<% end %>
<%= link_to 'Back', tadpoles_path %>

