<h1>Tadpoles</h1>
<%= form_for(@tadpole) do |f| %>
<ol>
	Name: <%= f.text_field :name %>
	Color: <%= f.text_field :color %>
	Parent Frog: <%= collection_select(:tadpole, :frog_id, Frog.all, :id, :name) %>

	<%= f.submit 'Save' %>
</ol>
<% end %>

<%= link_to 'Cancel', tadpoles_path %>

