<h1><%= @tadpole.name %></h1>
<p>Color: <%= @tadpole.color %></p>
<p>Parent Frog: <link_to "#{@tadpole.frog.name}", frog_path %>
<p>Lives in Pond: <link_to "#{@tadpole.frog.pond.name}", pond_path %>
</p>

<%= link_to 'Cancel', ponds_path %>
<%= link_to 'Edit', edit_tadpole_path(@tadpole) %> 
<%= button_to "Delete", @frog, :method => :delete, :class => :destroy, data: { confirm: 'Are you sure?' } %>