
<h1>Edit <%= @frog.name %></h1>
<%= form_for(@frog) do |f| %>
<ol>
    Name: <%= f.text_field :name %>
    Water Type: <%= f.text_field :color %>
    Lives in Pond: <%= link_to "#{@frog.pond.name}", pond_path %>
    <%= f.submit 'Save' %>
</ol>
  <%= f.submit 'Edit Pond' %>
  </div>
<% end %>
