<h1>Create New Frog</h1>
<%= form_for(@frog) do |f| %>
<ol>
  Name: <%= f.text_field :name %>
  Water Type: <%= f.text_field :color %>
  Lives in Pond: <%= collection_select(:frog, :pond_id, Pond.all, :id, :name) %>

  <%= f.submit 'Save' %>
</ol>
<% end %>

<%= link_to 'Cancel', ponds_path %>
